{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true,
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ]
  ]
}